{% extends "storage.html" %}
{% set active_page = "box_type" %}
{% block storage_content %}
<div class="bar">
    <div>
        <h1>{{box_type.name}}</h1>
        <h3>Nombre de puit {{box_type.max_number}}</h3>
    </div>
    <div class="actions">
        <a class="btn btn-default" href="{{ url_for('box_type.edit', id=box_type.id) }}">Modifier</a>
    </div>
</div>

<div class="box">
    {% if box_type.boxes.all() | length > 0 %}
    <h3>Boites</h3>
    <p>Nombre len(box_type.boxes.all())</p>
    <table class="table">
        <thead>
        <tr>
            <th>Nom de boite</th>
            <th>Espace Total</th>
            <th>Espace Oqp</th>
            <th>Crée le</th>
            <th class="text-right"></th>
            <th class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in box_type.boxes %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.max_number}}</td>
            <td>{{item.racks.all()|length}}</td>
            <td>{{moment(item.created_at).format('LLL') }}</td>
            <td class="text-right">
                <a href="{{ url_for('box.edit', id=item.id) }}">{{_('Modifier')}}</a>
            </td>
            <td class="text-right">
                <a href="{{ url_for('box.delete', id=item.id) }}">{{_('Supprimer')}}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="emptyspace">
        <div class="text-center">
            <h1 style="text-align:center;">Boite</h1>
            <h3>Aucune donnée n'a été ajoutée. </h3>
            <p>veuillez en créer une en cliquant sur le lien ci-dessous</p>
            <a href="{{ url_for('box.add') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Ajouter une boite
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
