{% extends "storage.html" %}
{% set active_page = "box_type" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block storage_content %}
{% if list %}
<div class="bar">
    <h1>{{_('Type de boîte')}}</h1>
    <div class="actions">
        <a class="btn btn-default" href="{{ url_for('box_type.add') }}">{{_('Nouveau type de boite')}}</a>
    </div>
</div>
<div class="actions-bar">
    <form class="form-inline" method="post" action="">
        {{ search_form.hidden_tag() }}
        <div class="form-group">
            {{ search_form.name(size=20, class='form-control', placeholder=search_form.name.label.text) }}
        </div>
        <div class="form-group">{{ search_form.submit(class='form-control') }}</div>
    </form>
</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Nom du type la boite</th>
        <th>Nombre de puit</th>
        <th>Description</th>
        <th class="text-right"></th>
        <th class="text-right"></th>
        <th class="text-right"></th>
    </tr>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.max_number}}</td>
        <td>{{item.description}}</td>
        <td class="text-right">
            <a href="{{ url_for('box_type.edit', id=item.id) }}">{{_('Modifier')}}</a>
        </td>
        <td class="text-right">
            <a href="{{ url_for('box_type.detail', id=item.id) }}">{{_('Detail')}}</a>
        </td>
        <td class="text-right">
            <a href="{{ url_for('box_type.delete', id=item.id) }}">{{_('Suprimer')}}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="emptyspace">
    <div class="text-center">
        <h1>{{_('Type de boîte')}}</h1>
        <h3>Aucunes données enregistrées</h3>
        <p>veuillez en créer un en cliquant sur le lien ci-dessous</p>
        <a class="btn btn-default btn-lg" href="{{ url_for('box_type.add') }}">{{_('Nouveau type de boite')}}</a>
    </div>
</div>
{% endif %}
{% endblock %}
