{% extends "collect.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "order" %}
{% block collect_content %}
<div class="bar">
    <div class="title">
        <h1>{{_('Numéro de réception : ')}}{{order.serial}}</h1>
    </div>
    <div class="actions">

        <ul class="nav nav-pills">
            {% if order.status == 0 %}
                <li><a class="btn btn-default" href="{{ url_for('order.edit', id=order.id) }}">{{_('Modifier')}}</a></li>
            {% endif %}
            {% if order.strains.all()|length > 0 %}
            <li>
                <a class="btn btn-default" href="{{ url_for('order.remove_all', id=order.id) }}"><span
                    class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a class="btn btn-default" href="{{ url_for('order.add_all', id=order.id) }}"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
            {% endif %}
        </ul>

    </div>
</div>
<div class="block">
    <div class="bar">
        <h3>{{_('Information générale')}}</h3>
    </div>
    <table class="table">
        <tr>
            <td>Client</td>
            <td>{{order.customer.display_as}}</td>
        </tr>
        <tr>
            <td>Déposant</td>
            <td>{{order.first_name + ' ' + order.last_name + ' TEL : ' + order.telephone}}</td>
        </tr>
        <tr>
            <td>Date de reception</td>
            <td>{{order.receive_date}}</td>
        </tr>
        <tr>
            <td>Date d'envoi</td>
            <td>{{order.send_date}}</td>
        </tr>
        <tr>
            <td>temperature de transport</td>
            <td>{{order.temperature.name}}</td>
        </tr>
        <tr>
            <td>Nombre de paquet</td>
            <td>{{order.nbr_pack}}</td>
        </tr>
        <tr>
            <td>Fichier des échantillons</td>
            <td><a href="{{order.file_url}}">{{order.file_name}}</a></td>
        </tr>
        <tr>
            <td>Enregistré le</td>
            <td>{{ moment(order.timestamp).format('LLL') }}</td>
        </tr>
    </table>
</div>

<div class="block">
    <div class="bar">
        <h3>{{_('Echantillons')}}</h3>
    </div>
    {% if order.strains.all() | length > 0%}
    <div>
        <table class="table">
            <thead>
            <tr>
                <th width="">
                    <input type="checkbox" class="chkAllBtn">
                </th>
                <th> Numero</th>
                <th> Numero bio.</th>
                <th> Produit bio.</th>
                <th> Nom de la souche</th>
                <th> Service</th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td><input type="checkbox" name="items" value="{{ item.id }}"></td>
                <td> {{ item.serial_number }}</td>
                <td> {{ item.biobank_number }}</td>
                <td> {{ item.sample_type.name }}</td>
                <td> {{ item.strain_type.name }}</td>
                <td> {{ item.customer.display_as}}</td>
                <td>
                    <ul class="nav nav-pills">
                        {% if item.basket_id == None %}
                        <li>
                            <a class="btn btn-default" href="{{ url_for('strain.addtolist', id=item.id) }}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                        {% else %}
                        <li><a class="btn btn-default" href="{{ url_for('strain.removefromlist', id=item.id) }}"><span
                                class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></li>
                        {% endif %}
                        <li><a class="btn btn-default" href="{{ url_for('strain.detail', id=item.id) }}">Voir</a></li>
                        <li>
                            <a class="btn btn-default" href="{{ url_for('strain.edit', id=item.id) }}">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ url_for('strain.delete', id=item.id) }}">
                                <i class="fa fa-trash"></i> Supprimer
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="emptyspace">
        <div class="text-center">
            <h1 style="text-align:center;">Dépôt de souches</h1>
            <h3>Aucune donnée n'a été ajoutée. </h3>
            <p>veuillez valider en cliquant sur le lien ci-dessous</p>
            <a class="btn btn-success" href="{{ url_for('order.validate', id=order.id) }}">{{_('Valider')}}</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
