{% extends "base.html" %}
{% set active_page = "basket" %}
{% block body %}
{% if basket.strains.all() | length  > 0%}
<div class="bar">
    <h1>{{ basket.name }}</h1>
    <div class="actions">
        <ul class="nav nav-pills">
            <li>
                <a class="btn btn-default" href="{{ url_for('basket.remove_all') }}">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="">

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{_('Code biobanque')}}</th>
            <th>{{_('Numéro à l\'arrivé')}}</th>
            <th>{{_('Nom de la souche')}}</th>
            <th>{{_('Produit biologique')}}</th>
            <th>{{_('Date')}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for strain in basket.strains %}
            <tr>
                <td>
                    <input type="checkbox" name="items" value="{{strain.id}}">
                </td>
                <td>{{strain.biobank_number}}</td>
                <td>{{strain.serial_number}}</td>
                <td>{{strain.strain_type.name}}</td>
                <td>{{strain.sample_type.name}}</td>
                <td>{{strain.recceive_date}}</td>
                <td>
                    <ul class="nav nav-pills">

                        <li>
                            <a class="btn btn-default" href="{{ url_for('basket.removefromlist', id=strain.id) }}">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li><a class="btn btn-default" href="{{ url_for('strain.detail', id=strain.id) }}">Voir</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="emptyspace">
            <div class="text-center">
                <h1 style="text-align:center;">Mon Panier</h1>
                <h3>Aucune donnée n'a été ajoutée. </h3>
                <p>veuillez en ajouter en cliquant sur le lien ci-dessous</p>
                <a href="{{ url_for('strain.list') }}" class="btn btn-default btn-lg">
                    <i class="fa fa-plus"></i>
                    Mes souches
                </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
