{% extends "base.html" %}
{% import "_pagination.html" as macros %}
{% set active_page = "basket" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block body %}
<div class="bar">
  <h1>Panier</h1>
  <div class="actions">
    <ul class="nav nav-pills">
      <li>
        <a class="btn btn-default" href="{{url_for('basket.add')}}">Nouveau panier</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-content">
  <div>

    <div class="subnav d-flex flex-justify-between">
      <div class="d-flex">
        <form class="subnav-search float-left" action="" method="post">
          {{ search_form.hidden_tag() }}
          {{ search_form.name(size=20, class='form-control subnav-search-input subnav-search-input-wide input-contrast', placeholder=search_form.name.label.text) }}
        </form>
      </div>
    </div>

      {% if list %}
      <div class="">
        <table class="table">
          <thead>
            <tr>
              <th>Nom de la salle</th>
              <th>Crée le</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in list %}
              <tr>
                <td>
                  <a href="{{ url_for('basket.detail', id=item.id) }}">{{item.name}}</a>
                </td>
                <td>{{moment(item.created_at).format('LLL') }}</td>
                <td class="text-right">
                  <a href="{{ url_for('basket.edit', id=item.id) }}">{{_('Modifier')}}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
      </div>
      {% else %}
        <div class="blankslate blankslate-spacious blankslate-large">
          <svg height="40" class="octicon octicon-issue-opened blankslate-icon" viewBox="0 0 14 16" version="1.1" width="35" aria-hidden="true"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
          <h3>Aucune données enregistrées</h3>
        </div>
      {% endif %}
  </div>
</div>
{% endblock %}
