{% extends "storage.html" %}
{% set active_page = "room" %}
{% block storage_content %}
<div class="bar">
    <h1>{{ room.name }}</h1>
    <p>{{room.description}}</p>
    <div class="actions">
        <ul class="nav nav-pills">
            <li>
                <a class="btn btn-default" href="{{ url_for('room.edit', id=room.id) }}">{{_('Modifier')}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="box">
    {% if room.equipments.all() | length > 0 %}
    <h3>Equipements</h3>
    <p>Nombre len(room.equipments.all())</p>
    <table class="table">
        <thead>
        <tr>
            <th>Nom de l'équipement</th>
            <th>Type</th>
            <th>Salle</th>
            <th>Espace Total</th>
            <th>Espace Oqp</th>
            <th>Crée le</th>
            <th class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in room.equipments %}
        <tr>
            <td>
                <a href="{{ url_for('equipment.detail', id=item.id) }}">{{ item.name }}</a>
            </td>
            <td>{{item.equipment_type.name}}</td>
            <td>{{item.room.name}}</td>
            <td>{{item.max_number}}</td>
            <td>{{item.racks.all()|length}}</td>
            <td>{{moment(item.created_at).format('LLL') }}</td>
            <td class="text-right">
                <a href="{{ url_for('equipment.edit', id=item.id) }}">{{_('Modifier')}}</a>
                <a href="{{ url_for('equipment.delete', id=item.id) }}">{{_('Supprimer')}}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="emptyspace">
        <div class="text-center">
            <h1 style="text-align:center;">Equipements</h1>
            <h3>Aucune donnée n'a été ajoutée. </h3>
            <p>veuillez en créer une en cliquant sur le lien ci-dessous</p>
            <a href="{{ url_for('equipment.add') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Ajouter un équipement
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
