{% extends "storage.html" %}
{% set active_page = "room" %}
{% block storage_content %}
      <div class="bar">
        <h1>{{ room.name }}</h1>
        <div class="actions">
          <ul class="nav nav-pills">
            <li>
              <a class="btn btn-default" href="{{ url_for('room.edit', id=room.id) }}">{{_('Modifier')}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <h3>Equipements</h3>
          {% if room.equipments.all() | length > 0  %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de l'équipement</th>
                    <th>Type</th>
                    <th>Salle</th>
                    <th>Espace Total</th>
                    <th>Espace Oqp</th>
                    <th>Crée le</th>
                    <th class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in room.equipments %}
                <tr>
                    <td>
                        <a href="{{ url_for('equipment.detail', id=item.id) }}">{{ item.name }}</a>
                    </td>
                    <td>{{item.equipment_type.name}}</td>
                    <td>{{item.room.name}}</td>
                    <td>{{item.max_number}}</td>
                    <td>{{item.racks.all()|length}}</td>
                    <td>{{moment(item.created_at).format('LLL') }}</td>
                    <td class="text-right">
                        <a href="{{ url_for('equipment.edit', id=item.id) }}">{{_('Modifier')}}</a>
                        <a href="{{ url_for('equipment.delete', id=item.id) }}">{{_('Supprimer')}}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="blankslate blankslate-spacious blankslate-large text-center">
                <svg height="40" class="octicon octicon-issue-opened blankslate-icon" viewBox="0 0 14 16" version="1.1"
                     width="35" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                </svg>
                <h3>Aucun équipement</h3>
            </div>
            {% endif %}
      </div>
{% endblock %}
