{% extends "storage.html" %}
{% set active_page = "box" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block storage_content %}
{% if list %}
<div class="bar">
    <h1>{{_('Boite')}}</h1>
    <div class="actions">
        <ul class="nav nav-pills">
            <li>
                <a class="btn btn-default" href="{{ url_for('box.add') }}">{{_('Nouvelle boite')}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="">
    <div class="actions-bar">
        <form class="form-inline" method="post" action="">
            {{ search_form.hidden_tag() }}
            <div class="form-group">
                {{ search_form.name(size=20, class='form-control', placeholder=search_form.name.label.text) }}
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nom de la boite</th>
            <th>Type de boite</th>
            <th>Espace</th>
            <th>Rack</th>
            <th class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.box_type.name}}</td>
            <td>{{item.box_type.max_number}}</td>
            <td>{% if item.rack %} {{item.rack.equipment.name + ' - ' + item.rack.name}}{% endif %}</td>
            <td class="text-right">
                <a class="btn btn-default" href="{{ url_for('box.edit', id=item.id) }}">{{_('Modifier')}}</a>
                <a class="btn btn-default" href="{{ url_for('box.detail', id=item.id) }}">{{_('Detail')}}</a>
                <a class="btn btn-default" href="{{ url_for('box.delete', id=item.id) }}">{{_('Supprimer')}}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="emptyspace">
        <div class="text-center">
            <h1>{{_('Boite')}}</h1>
            <h3>{{_('Aucune boite enregistrée')}}</h3>
            <p>{{_('veuillez en créer une en cliquant sur le lien ci-dessous')}}</p>
            <a class="btn btn-default btn-lg" href="{{ url_for('box.add') }}">{{_('Nouvelle boite')}}</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
